{% extends 'layouts/layout.html' %}
{% block body %}
<div class='container text-center' style='margin-top: 3em;'>
    <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
            <h1>Bienvenue chez GrandPy !</h1>
            <p> Il passe son temps à regarder la télé ! Pose lui une question sur un lieu et il dira ce qu'il en sait ! </p>  

            <form>
                <div id='askGrandpy' class="row">
                    <div class="col-md-10">
                        <input id="question" type="text" class="form-control" placeholder="Ex: Grand py, où se trouve la pyramide du Louvre ?">
                    </div>
                    <div class="col-md-2">
                        <button id='sendQuestion' type="submit" class="btn btn-primary mb-4 btn-block">Envoyer</button>
                    </div>
                </div>
            </form>

            <div class="row justify-content-md-center">
                <div id='loading'>
                    <img class='spinner' src="{{ url_for('static', filename='img/questionmark.png') }}" style='height: 3em'>
                    <p>Hmm... Laisse moi réfléchir ...</p>
                </div>
            </div>

            <div class="row justify-content-md-center">
                    <div id='notfound' style='display: none'>
                        <div class='col'>
                            <img src="{{ url_for('static', filename='img/biggrandpy.png') }}" style='height: 10em;'>
                            <p><i>heu... rien ne me vient à propos de ce lieu !</i></p>
                        </div>
                    </div>
            </div>


            <div id='discussion' class='row' style='margin: 2em'></div>
            <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY_MAPS }}&libraries=places&callback=initMap" async defer></script>
    
        </div>
        <div class='col-md-2'></div>
    </div>
</div>

{% endblock %}