<div class="page-header text-center text-black" style='background-color: #e3f2fd;'>

    <div class='row'>
        <div class='col'></div> 
        <div class='col d-flex align-items-center  justify-content-end'>
            <img src="{{ url_for('static', filename='img/grandpylogohuman.png') }}" style='max-width: 70px;' class='hvr-pulse-shrink'>
        </div>    
        <div class='col justify-content-center'>
            <div class='col'>
                <h1 style="font-family: 'Righteous', cursive;">Grandpy.Bot</h1>
                <p style="font-family: 'Pacifico', cursive;">Un vieux robot attachant 👴📖</p>
            </div>
        </div>      
        <div class='col'></div>
        <div class='col'></div>    
    </div> 


        <nav class="navbar navbar-expand-lg navbar-light bg-light" style='box-shadow: 0px 2px 2px rgb(194, 193, 193);'>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="collapse navbar-collapse d-flex justify-content-center " id="navbarNavAltMarkup">
                <div class="navbar-nav nav-pills" >
                    <a class="nav-item nav-link" href="{{ url_for('home') }}" >Accueil</a>
                    <a class="nav-item nav-link" href="{{ url_for('about') }}">A propos</a>
                    <a class="nav-item nav-link" href="{{ url_for('donation') }}">Faire un Don</a>
                </div>
            </div>
        </nav>
        <script>
            var navLinks = document.querySelectorAll('.navbar-nav > .nav-item')
            for (i=0;i < navLinks.length ; i++) {
                if (window.location.protocol + '//' + window.location.host + window.location.pathname == navLinks[i].href) {
                    navLinks[i].classList += 'nav-item nav-link active';
                }
            }
        </script>
</div>
